body {
    text-align: center;
    background-color: #fba4cb;
    font: 1em sans-serif;
    margin-inline: 16em;
}

h1 {
    color: white;
}

h1:hover {
    color: black;
}

img {
    margin-top: 1em;
    width: 10em;
    margin-bottom: 1.5em;
}

ol {
    margin: 0 auto;
    text-align: left;
    width: 25em;
    font-size: 0.8em;
}

.statement {
    font: 1.8em serif;
    color: white;
    margin: 0 auto;
    width: 9em;
}

.white {
    color:white;
    font-size: 0.9em;
}

.whitesmall {
    margin: 0 auto;
    color:white;
    font-size: 0.8em;
    width: 31em;
}

.person {
    padding-top: 2em;
    font-size: 0.7em;
    margin: 0 auto;
    width: 23em;
}