body {
    text-align: center;
    background-color: #fba4cb;
    font: 1em sans-serif;
    margin-inline: 16em;
}

h1 {
    color: white;
}

h1:hover {
    color: black;
}

img {
    width: 15em;
}

ol {    
    text-align: left;
    width: 17em;
    font-size: 0.8em;
}

.statement {
    font: 1.8em serif;
    color: white;
}

.white {
    color:white;
}

.whitesmall {
    color:white;
    font-size: 0.8em;
}