@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

body{
    font-family: "IM Fell French Canon SC";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

h1, h2 {
    place-self: center;
}

#pyth{
    justify-self: center;
    place-self: center;
}

h2{
    color: #a43312;
    text-align: center;
}

p{
    font-size: 1.1em;
    font-family: Lato, Helvetica, sans-serif;
    place-self: center;
}

#cent{
    color: #396e94;
}

#last{
    margin: auto;
}

#lastly{
    color:#396e94;
    text-align: center;
}

#logo{
    display: block;
    margin: auto;
}

a:link, a:visited, a:active
{
    color: #396e94;
    text-decoration: none;
}

a:hover{
    color: #a43312;
}

a{
    font-size: 1.15em;
}

.sp{
    font-size: 1.5em;
}

#first{
    display: inline;
}

#second{
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#firstly{
    align-self: center;
}

#imagproc{
    grid-column: 1/4;
    grid-row: 3/4;
    justify-self: center;
}

#cows{
    place-self: center;
}

#foot{
    color: #a43312;
    font-size: 1.15em;
    border: 10px solid;
    border-color: black;
    text-align: center;
    grid-column: 1/4;
    margin-top: 15px;
}

#sep{
    display: inline;
}