body{
    background: black;
}

#cont0{
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', arial, sans-serif;
    display: grid;
    width: 300px;
    height: 686px;
    /* background: white; */
}

#cont2{
    display: subgrid;
}

/*
#text2{
    color: #9c0e11;
    font-size: 80px;
    text-align: center;
    margin-top: 70%;
}

#text3{
    font-size: 170px;
    text-align: center;
    margin-top: 11%;
    z-index: 1;
}
*/

#cont3{
    display: subgrid;
}