@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

body{
    font-family: "IM Fell French Canon SC";
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1, a {
    text-align: center;
    place-self: center;
}

img{
    justify-self: center;
}

#lay{
    place-self: center;    
}

p{
    font-family: Lato, Helvetica, sans-serif;
    text-align: right;
    padding-right: 10px;
    border-right: 3px solid #a43312;
    color: #396e94;
}

a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}

a:hover{
    background: #e7c24f;
}

#sig{
    text-align: center;
    font-size: 1.2em;
    color: #396e94;
    padding: 0;
    border: 0;
}